[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"tweets2text" = {editable = true, path = "."}

[dev-packages]
"flake8" = "*"
"flake8-docstrings" = "*"
ipdb = "*"
ipython = "*"
python-coveralls = "*"
requests-mock = "*"
blinker = "*"
pytest-dynamodb = "*"

[requires]
python_version = "3.6.6"
