[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"tweets2text" = {editable = true, path = "."}

[dev-packages]
ipdb = "*"
ipython = "*"
pytest = "*"
"flake8" = "*"
coverage = "*"
"flake8-docstrings" = "*"

[requires]
python_version = "3.6"
