[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-dynamo = "*"
requests = "*"
python-dotenv = "*"
twitterapi = "*"


[dev-packages]

ipython = "*"
ipdb = "*"
zappa = "*"


[requires]

python_version = "3.6"
